<section id="header" ng-app="app-navbar">
    <div class="clearfix">
        <div class="logo pull-left">
            <a class="logo-text" href="/">
                WAT
            </a>
        </div>
        <div class="pull-right">
            @if (!User.Identity.IsAuthenticated)
            {
                <ul class="top-menu">
                    <li><a href="@Url.Action("Login", "Account")">Login</a></li>
                    <li><a href="@Url.Action("Register", "Account")">Register</a></li>
                </ul>

            }
            else
            {
                <ul class="top-menu">
                    <li><span class="text-hover-underline">@User.Identity.Name</span></li>
                    <li><a href="@Url.Action("Logout", "Account")">Log out</a></li>
                    <div ng-controller="navbarController">
                        <!-- Single button using append-to-body -->
                        <div class="btn-group" uib-dropdown dropdown-append-to-body>
                            <button id="btn-append-to-body" type="button" class="btn btn-primary" uib-dropdown-toggle>
                                Dropdown on Body <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
@*                                <li role="menuitem"><a class="dropdown-item" ui-sref="app.users.one({id:currentUser.id})" href="#!/users/03380d58-b3da-4683-aa8a-c08be546c0fb"><i class="fa fa-user"></i> Profile</a></li>*@
                                @if (ViewContext.HttpContext.User.IsInRole("Administrator"))
                                {
                                    <li role="menuitem"><a class="dropdown-item" href="@Url.Action("Index", "Admin")"><i class="fa fa-file"></i> Admin panel</a></li>
                                }
                                <li role="menuitem"><a class="dropdown-item" href="@Url.Action("Logout", "Account")"><i class="fa fa-lock"></i> Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </ul>
            }
        </div>
    </div>
</section>

<section id="menu">
    <ul class="menu">
        <li class="current active">
            <a href="@Url.Action("Index", "Home")">Home</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Contest")">Contests</a>
        </li>
        <li class="parent">
            <a href="@Url.Action("Index", "Home")">Pages</a>
            <ul class="sub-menu">
                <li>
                    <a href="/">Testimonials</a>
                </li>
                <li>
                    <a href="/">Pricing</a>
                </li>
                <li>
                    <a href="/">Tests</a>
                </li>
                <li>
                    <a href="/">More tests boyy</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/">Blog</a>
        </li>
        <li>
            <a href="@Url.Action("Contact", "Home")">Contacts</a>
        </li>
    </ul>
</section>